.intro {
  width: 100%;
  height: 100vh;
  background: url(../images/intro_bg.jpg) center / cover;
  position: relative;
}
.intro .contents {
}
.intro .contents h1 {
  width: 222px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) rotate(0) scale(1);
  animation: introani2 1s linear infinite alternate;
}
.intro .contents h1 img {
  width: 100%;
}
.intro .contents .scroll_down {
  width: 80px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: introani1 0.5s linear infinite alternate;
}
.intro .contents .scroll_down img {
  width: 100%;
}
.intro .snoopy_map {
  width: 282px;
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translateY(0);
  animation: introani3 0.5s linear infinite alternate;
}
.intro .snoopy_map img {
  width: 100%;
}
@keyframes introani1 {
  from {
    transform: translate(-50%, -5px);
  }
  to {
    transform: translate(-50%, 5px);
  }
}
@keyframes introani2 {
  from {
    transform: translateX(-50%) rotate(1deg) scale(0.95);
  }
  to {
    transform: translateX(-50%) rotate(-1deg) scale(1);
  }
}
@keyframes introani3 {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-2px);
  }
}
/* 1행 jeju--------------------------------------------------------------------------------------- */
main {
}
.jeju {
  text-align: center;
  display: flex;
  align-items: center;
  background: url(../images/jeju/jeju_bg.jpg) top / cover;
}
.jeju .jeju_container {
  padding: 92.5px 0;
  margin: 0 auto;
}
.jeju .jeju_container .title {
  margin-bottom: 60px;
}
.jeju .jeju_container .title h2 {
  font-family: "Gyeonggi_Title_Medium";
  font-size: 1.563rem;
}
.jeju .jeju_container .title h1 {
  font-family: "Gyeonggi_Title_Medium";
  font-size: 2.375rem;
  margin-bottom: 20px;
}
.jeju .jeju_container .title p {
}
.jeju .jeju_container .jeju_slide {
  padding: 0 38.5px;
  display: flex;
}
.jeju .jeju_container .jeju_slide li {
  width: calc((100% - 80px) / 5);
  margin-right: 20px;
}
.jeju .jeju_container .jeju_slide li:nth-child(6) {
  display: none;
}
.jeju .jeju_container .jeju_slide li > a {
  display: inline-block;
  width: 100%;
  border: 3px solid #000;
  border-radius: 6px;
  background: #fff;
}
.jeju .jeju_container .jeju_slide li > a img {
  width: 100%;
}
.more_btn {
  display: inline-block;
  padding: 14px 48px;
  font-weight: 500;
  border: 2px solid #000;
  margin-top: 60px;
  background: #fff;
}
/* 2행 summer -------------------------------------------------------------------- */
.summer {
  padding: 160px 65px 160px 80px;
  background: #c2e2f9;
}
.summer .summer_wrap {
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
}
.summer .summer_wrap .left_wrap {
  width: 750px; height: 920px;
  padding: 160px 0 0 80px;
  background: url(../images/summer/img_001.jpg) center / cover;
}
.summer .summer_wrap .left_wrap h1 {
  font-family: "Gyeonggi_Title_Medium";
  font-size: 2.75rem;
  color: #fff;
  margin-bottom: 20px;
}
.summer .summer_wrap .left_wrap p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #fff;
}
.summer .summer_wrap .right_wrap {
    padding: 151.5px 65px;
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
.summer .summer_wrap .right_wrap .product_wrap {
    display: flex;
}
.summer .summer_wrap .right_wrap .product_wrap li:last-child {
    margin-right: 0;
}
.summer .summer_wrap .right_wrap .product_wrap .product {
    width: calc((100% - 80px) / 3);
    background: #fff;
    border: 1px solid blue;
    margin-right: 40px;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a {
    display: inline-block;
    padding: 20px;
    width: 100%;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .product_img {
    border: 3px solid #000;
    border-radius: 3px;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .product_img img {
    width: 100%;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .product_title {
    margin-top: 20px;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .product_title > p {
    font-size: 0.75rem;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .product_title > h2 {
    margin: 6px 0 12px;
    font-size: 1.125rem;
    font-weight: 500;
}
.summer
  .summer_wrap
  .right_wrap
  .product_wrap
  .product
  > a
  .product_title
  .color_chip {
    display: flex;
    gap: 8px;
}
.summer
  .summer_wrap
  .right_wrap
  .product_wrap
  .product
  > a
  .product_title
  .color_chip
  p {
    width: 12px; height: 12px;
    border-radius: 6px;
    background: #E60000;
}
.summer
  .summer_wrap
  .right_wrap
  .product_wrap
  .product
  > a .price {
    text-align: right;
    margin-top: 20px;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .price p {}
.summer
  .summer_wrap
  .right_wrap
  .product_wrap
  .product
  > a .price
  p
  del {
    margin-bottom: 4px;
    font-size: 1.125rem;
    color: #aaa;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .price h3 {
    font-size: 1.375rem;
    font-weight: 500;
}
.summer .summer_wrap .right_wrap .product_wrap .product > a .price h3 em {
    font-size: 1.375rem;
    font-weight: 500;
    color: #E60000;
    margin-right: 12px;
}
/* product colorchip */
.summer .summer_wrap .right_wrap .product_wrap .product1 > a .product_title .color_chip .color1 {background: #A1E0FF;}
.summer .summer_wrap .right_wrap .product_wrap .product1 > a .product_title .color_chip .color2 {background: #FFF5BC;}
.summer .summer_wrap .right_wrap .product_wrap .product1 > a .product_title .color_chip .color3 {background: #CBFF97;}
.summer .summer_wrap .right_wrap .product_wrap .product1 > a .product_title .color_chip .color4 {background: #F0F0F0;}
.summer .summer_wrap .right_wrap .product_wrap .product2 > a .product_title .color_chip .color1 {background: #fff; border: 1px solid #000;}
.summer .summer_wrap .right_wrap .product_wrap .product2 > a .product_title .color_chip .color2 {background: #464964;}
.summer .summer_wrap .right_wrap .product_wrap .product3 > a .product_title .color_chip .color1 {background: #F0DFCC;}
.summer .summer_wrap .right_wrap .product_wrap .product3 > a .product_title .color_chip .color2 {background: #000;}